body{
    margin:0;
    padding:0;
    overflow:hidden;
    display: flex;
    align-items: center;
    /* left: 50%; */
    background-color: rgb(43, 43, 43);
}

ul{
    display: block;
    margin-inline-start: 40vw;
}

.login-menu{
    color: aliceblue;
    align-items: center;
    list-style: none;
    margin: 15px;
}

.submit-button{
    top: 65%;
    /* left: 50%; */
    align-items: center;
    position: absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:100px;
    border:0px;
    inline-size: 100px;
    background-color: lightskyblue;
    transition-duration: 0.1s;
}

.submit-button:hover{
    border:0px;
    background-color: rgb(60, 180, 255);
    inline-size: 90px;
    cursor: pointer;
}