body{
    margin:0;
    padding:0;
    overflow:hidden;
    display: flex;
    align-items: center;
    left: 50%;
}

ul{
    display: inline;
    margin-inline-start: 40vw;
}

li{
    list-style: none;
}

button{
    top: 65%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:100px;
    border:0px;
    inline-size: 100px;
    background-color: lightskyblue;
    transition-duration: 0.1s;
}

button:hover{
    background-color: rgb(60, 180, 255);
    inline-size: 90px;
    cursor: pointer;
}